.header-image-part{
    display: flex;
    align-items: center;
}
.header-paragraph{
    font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 70px;
}
.dream{
    color: #9873FF;
}
.header-image img{
    height: 600px;
    width: 600px;
}
.get-btn{
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color:  #9873FF;
    color: white;
    margin-right: 10px;
}
.paragraph-into{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #757575;
}
.jobscategory-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.job-p{
    color: #757575;
}
.job{
    margin-top: 80px;
}
.jobInfo-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 70px;
}
.feature{
    margin-top: 100px;
}
@media screen and (max-width: 600px) {
    .header-paragraph{
        font-style: normal;
    font-weight: 10px;
    font-size: 40px;
    line-height: 70px;
    }
    .jobscategory-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
        margin-left: 200px;
    }
    .job h2{
        margin-left: 200px;
        width: 100%;
    }
    .job-p{
        margin-left: 200px;
        width: 100%;
    }
     .feature-title{
        margin-left: 200px;
        width: 100%;
     }
     .jobInfo-container{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 100px;
        column-gap: 300px;
        margin-left: 100px;
    }
   
}